@model List<FrontEnd.Models.Pokemon>

<h2>Lista de Pokémon</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Tipos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>
                    <img src="@p.Sprites.FrontDefault" alt="@p.Name" width="60" />
                </td>   
                <td>
                    @string.Join(", ", p.Types.Select(t => t.Type.Name))
                </td>
                <td>
                    <a href="@Url.Action("Details", "Pokemon", new { name = p.Name })" class="boton">Ver a @p.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table>
